
.light-theme {
  background-color: white;
  color: black;
  width: 400px;
  height: 300px;
  border-radius: 12px;
  transition: all 0.3s ease-in-out;
  padding: 20px;
}

.dark-theme {
  background-color: black;
  color: white;
  width: 400px;
  height: 300px;
  border-radius: 12px;
  transition: all 0.3s ease-in-out;
  padding: 20px;
}

.btn {
  background-color: black;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
}

.dark-theme .btn {
  background-color: white;
  color: black;
}
